<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fastenshtein" version="1.0.0.4" targetFramework="net461" />
  <package id="FMUtils.KeyboardHook" version="1.0.140.2145" targetFramework="net461" />
  <package id="leptonica.net" version="1.75.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="tesseract.net" version="4.0.0.16" targetFramework="net461" />
</packages>